<!DOCTYPE html>
<html>
<head>
    <title>Flask Button Example</title>
</head>
<body>
    <h1>Click the button to duplicate linger</h1>
    <!--
    <form method="GET" action="/saveDiscoverWeekly">
        <button type="submit">DUPLICATE LINGER</button>
        <button type="submit">I DONT WANT TO DUPLICATE LINGER</button>
    </form>
    -->
    <form method="GET" action="/saveDiscoverWeekly">
        <button type="submit">DUPLICATE LINGER</button>
    </form>
    <form method="GET" action="/">
        <button type="submit">I DON'T WANT TO DUPLICATE LINGER</button>
    </form>
</body>
</html>
